/* 
 - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  /* default: 10px */
  /* 10 / 16 * 100 = 62.5 */
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  background-color: #e7e7e7;
  color: #939393;
}

.container {
  margin-top: 16rem;
}

h1 {
  margin-top: 0;
  padding: 10px;
  font-size: 7.4rem;
  font-weight: 700;
  color: #292929;
}

form {
  position: relative;
}

label {
  position: absolute;
  left: 5%;
  top: -12%;
  font-size: 2rem;
  z-index: 100;
  background-color: #e7e7e7;
  padding: 0 0.4rem;
  color: #7b63ea;
  font-weight: 200;
}

.email,
.email:hover,
.email:active {
  color: #494949;
  padding: 2.4rem;
  width: 100%;
  outline: none;
  border-radius: 6px;
  border: 0;
  border: 1px solid #939393;
  margin-bottom: 1.4rem;
}

.email:focus {
  border: 3px solid #7b63ea;
  background-color: #e7e7e7;
}

.output {
  font-size: 1.6rem;
}

.icon-exclamation {
  margin-left: 20px;
  margin-right: 10px;
}
